*~
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local

log/access.log
log/auth.log
log/error.log
SafeExec/os-detect
SafeExec/safeexec
public
snaplets/sqlite-auth/
site_key.txt
stack.yaml.lock
submissions.db
codex.cabal
events.cfg
